:root {
  --white: #FFFFFF;
  --satoshi: 'Satoshi', 'sans';
}

.swap {
  margin: 0 0 50px 120px;
}

.swap p {
  font-family: var(--satoshi);
  font-size: 32px;
  padding: 0 0 20px 0;
  font-size: 24px;
}

.imgs__container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 2.5rem;
  height: 100%;
  max-width: 100%;
  /* overflow: hidden; */
}

@media screen and (max-width: 576px) {
  .auction_imgs:nth-last-child() {
    display: none;
    width: auto;
  }

  .auction_imgs:nth-last-child(2) {
    display:none;
  }

  .imgs__container {
    max-width: 100%;
    max-height: 100%;
  }
  
}

.auction_imgs:nth-child(3) {
  overflow: hidden;
}

.top__bids {
  margin-top: 3rem;
}

.top__bids h3 {
  font-family: 'Satoshi';
  font-size: 32px;
  margin-bottom: 2rem;
}

/* First attempt making the card responsive */
@media screen and (max-width: 576px) {
  .swap {
    max-width: 100%;
  }

  .cards__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .img {
    max-width: 100%;
  }
}

@media  screen and (min-width: 577px) {
  .cards__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 37px;
    margin-right: 120px;
  }
}

.card {
  border: 1px solid rgba(207, 187, 187, 0.604);
  border-radius: 15px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.25);
}

.like_button {
  border-radius: 49%;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: block;
  margin: 5px;
  float: right;
}

.bid_name {
  text-align: start;
  margin: 10px 0 0px 0;
}

.like_button:hover {
  border-radius: 45%;
}

.bid_info {
  background-color: var(--white);
}

.bid_info {
  font-size: 28px;
  color: gray;
}
.bid_info span {
  font-size: 32px;
  color: black;
}

.bid_button {
  border-radius: 3px;
  background: #3341C1;
  width: 247px;
  height: 50px;
  color: var(--white);
  display: inline;
  float: right;
  margin: -15px 30px 50px 50px;
  font-family: var(--satoshi);
  font-size: 25px;
  font-weight: 500;
}

.place_bid {
  background-color: rgb(231, 242, 242);
  border-radius: 10px;
  max-height: 110px;
}

.place_bid h4 {
  color: black;
  font-family: var(--satoshi);
  display: inline;
}

.place_bid p {
  color: gray;
  /* float: left; */
}

.place_bid::after {
  content: "";
  clear: both;
  display: table;
}