.flip {
  text-align: center;
  width: 95%;
  max-width: 1100px;
  margin: 0 auto 82px;
}
.flip h3 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 125px;
  font-family: 'Clash Display', sans-serif;
  color: var(--Dark);
}
.flip p {
  padding: 0 55px;
  font-family: 'Satoshi', sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 44px;
}
.images {
  margin-bottom: 94px;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.images img:first-child {
  padding-top: 116px;
}
.images img:nth-child(2) {
  padding-top: 58px;
}
.images img:nth-child(4) {
  padding-top: 54px;
}

@media (max-width: 768px) {
  .flip h3 {
    font-size: 3.5rem;
    line-height: 80px;
  }
  .flip p {
    margin-top: 30px;
    padding: 0 20;
    font-size: 1.25rem;
    line-height: 32px;
  }
}
@media (max-width: 600px) {
  .flip {
    margin-bottom: 34px;
  }
  .flip p {
    margin-top: 30px;
    padding: 0;
    font-size: 16px;
    line-height: 25px;
  }
}
@media (max-width: 500px) {
  .flip h3 {
    font-size: 2rem;
    line-height: 48px;
  }
}
