.flip {
  text-align: center;
  margin-bottom: 82px;
}
.flip h3 {
  margin: 0 186px;
  width: 1028px;
  font-size: 80px;
  font-weight: 600;
  line-height: 125px;
  font-family: 'Clash Display', sans-serif;
  color: var(--Dark);
}
.flip p {
  margin: 50px 257px 0;
  width: 926px;
  font-family: 'Satoshi', sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 44px;
}
.images {
  margin-bottom: 94px;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.images img:first-child {
  padding-top: 116px;
}
.images img:nth-child(2) {
  padding-top: 58px;
}
.images img:nth-child(4) {
  padding-top: 54px;
}
