.title {
  margin-bottom: 50px;
  cursor: pointer;
}
.title__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title h4 {
  font-family: 'Satoshi', sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 44px;
}
.show {
  transform: rotate(180deg);
  transition: 0.2s linear all;
}
.show__rotate {
  transform: rotate(0);
}

/*  */
